@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kv6mkr');
  src:  url('fonts/icomoon.eot?kv6mkr#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?kv6mkr') format('truetype'),
  url('fonts/icomoon.woff?kv6mkr') format('woff'),
  url('fonts/icomoon.svg?kv6mkr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\ea0c";
  color: #000707;
  font-size: 40px;
  margin-left: 97%;

}
.Volver_Atras{
  color: #000707;
  font-size: 30px;
  text-decoration: none;
  width: 37px;
  height: 37px;
  display: inline-block;
  border: 2px solid #001f3f;
  border-radius: 50%;
  background: rgba(0,0,0,0.3);
  transition: all 500ms ease;
  text-align: center;
}
.Volver_Atras:hover{
  background: rgba(0, 18, 215,0.1);
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
}
#Sub1:checked ~ .modal{
  transition: all 500ms ease;
  position: fixed;
  opacity: 1;
  visibility: visible;
}
.contenedor{
  width: 400px;
  height: 300px;
  border-radius: 15px;
  margin: 10em auto;
  background: #fff;
  box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
  transition: all 500ms ease;
  position: relative;
  transform: translateY(-30%);
}
#Sub1:checked ~ .modal .contenedor{
  transform: translateY(0%);
}
.contenedor header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  background: #5e9ec3;
  color: #fff;
}
.contenedor label{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: color .3s;
}

.contenedor label:hover  {
  color: rgb(0, 0, 0);
  transition: color .3s;
}

.contenido{
  padding: 10px;
  text-align: justify;
}
.contenido h3{
  margin-bottom: 10px;
}
.contenido p{
  margin-bottom: 7px;
}
#Sub1{
  display: none;
}
.icon icon-info{
  background: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

